@charset "UTF=8";
@font-face {
    font-family: 'FonteLogo';
    src: url('../imagens/IndieFlower-Regular.ttf');
}
body {
   margin: -30px;
   padding: 1%;
   color:#000 ;
   background-color:white;
  
}
#geral{
    width: 970px; 
    margin: 0 auto;
    background: #ddd;
}
#cabecalho {
    padding: 10px;
    background-color:#ddf;
    margin: auto;
    text-align: center;
    font-family: 'FonteLogo', sans-serif;
}
#conteudo-1{
    float: left;
    width: 210px;
    padding: 10px;
    background-color:#333333 ;
    color: white;
}
#conteudo-2 {
    float:center;
    width:720px;
    
}
#conteudo-2-1{
    float: left;
    width: 470px;
    padding: 10px;
    background:#ddf;
}

#conteudo-2-2{
    float: right;
    width: 210px;
    padding: 10px;
    background-color:#333333;
    color: white;
}
#rodape{
    background:#ddf;
    clear:both;
    padding: 10px;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
    text-indent: 30px;
    margin: 10px auto 10px 10px; 
}
    

h1{
    font-size: 25px;
    margin: 4px;
    
    
}
h2{

    font-size: 15px;
    padding: 3px;
    color: #4C4C4C;
    margin-right: 10px;
   

}
ul {
    display: block;
    padding-bottom: 0%;
    background-color:#333333;
    list-style-type: none;
    overflow: auto;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    
}
li{
    list-style-type: none ; 
    margin: 13px;
    display:inline-block;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: transparent;
    padding: 13px;
    margin: auto;
}
li a:hover{
    background-color:#111111;
}

.zoom {
	overflow: hidden;
}
.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
}
.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    background-position: 0%; 
}
