@charset "UTF=8";

body {
    background-color:white;
   
    font-size: 14px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 50px;
}
ul {
    margin: auto ;
    padding: auto ;
    background-color: #333333;
    list-style-type: none;
    overflow: auto;
}
li{
    list-style: 0 ; 
    margin: 12px;
    display:inline-block;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: transparent;
    padding: 12px;
    margin: auto;


}
li a:hover{
    background-color:#111111;
}

section#corpo {
    display: block;
    width: 600px;
    float: left;
    border-right: 1px solid;
    padding-right: 14px;
    
}
aside#lateral {
    display: block;
    width: 650px;
    float: left;
    padding-left: 14px;
    
   
}
footer#rodape {
    clear: both;
    border-top: 1px solid;
    height: 13px;

}

h2{

    font-size: 14px;

    padding: 5px;

    background-color: #E3E3E3;

    color: #4C4C4C;
}
footer#rodape p {
    text-align: center;
   
}
.zoom {
	overflow: hidden;
}
.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
}
.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    background-position: 0%; 
}
